
.cuerpo {
  display: inline-block;

}

.MainContent {
  background: #388E3C;
  float: left;
  width: 50%;
  margin: 10px;
  padding: 10px;
}

.imgPost {
  float: left;
  display: inline;
}

.imgPost  > img {
  width: 200px;
}



.SideBar {
  background: #158E1A;
  float: right;
  width: 20%;
  margin : 10px;
  padding: 10px;
}

.post {
  text-align: center;
}

.infoPost {
  float: right;
  display: inline;
}
